.btn-download {
    background-color: #124670;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    /* Espacio entre icono y texto */
    transition: background 0.3s;
    margin: 22px;
}

.btn-download i {
    font-size: 20px;
}

.btn-download:hover {
    background-color: #125185;
}