<div class="flex">
  <!-- Columna izquierda con 5 columnas -->
  <div class="w-6/12">
    <form [formGroup]="myForm" (ngSubmit)="sendForm()" class="m-4 p-4 shadow-md bg-white">
      <div>
        <h2 class="text-black">title</h2>
        <input formControlName="title" placeholder="" class="text-black rounded border-2">
      </div>
      <br>
      <div formArrayName="items">
        <h2 class="text-black">list techlologies</h2>
        <div *ngFor="let item of itemsTech.controls; let i=index" class="flex items-center">
          <input [formControlName]="i" placeholder="Techmologies {{i + 1}}" class="text-black rounded border-2">
          <button class="m-2 px-2 py-0 bg-red-500 hover:bg-red-700 text-white p-1 rounded" (click)="removeItemTech(i)">X</button>
        </div>
      </div>
      <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        type="button" (click)="addItemTech()">
        Agregar Item
      </button>

      <div formArrayName="views">
        <div *ngFor="let item of itemsView.controls; let i=index" class="flex items-center mb-2">
          <div class="mr-2">
            <input class="text-black rounded border-2" type="text" [formControlName]="i + '.nombre'" placeholder="Nombre">
          </div>
          <div>
            <input class="text-black rounded border-2" type="number" [formControlName]="i + '.edad'" placeholder="Edad">
          </div>
          <!-- Otros campos del objeto -->
          <button class="m-2 px-2 py-0 bg-red-500 hover:bg-red-700 text-white p-1 rounded" (click)="removeItemView(i)">X</button>
        </div>
      </div>
      <button class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button" (click)="addItemView()">Agregar Item</button>
      <button class="mt-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
    </form>
  </div>

  <!-- Columna derecha con 7 columnas -->
  <div class="w-6/12 p-4">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">title:</label>
        <pre class="text-black">{{ myForm.controls['title'].value | json }}</pre>

        <label class="block text-gray-700 text-sm font-bold mb-2">list technologies: {{ itemsTech.length }}</label>
        <pre class="text-black">{{ myForm.controls['items'].value | json }}</pre>

        <label class="block text-gray-700 text-sm font-bold mb-2">list view: {{ itemsView.length }}</label>
        <pre class="text-black">{{ myForm.controls['views'].value | json }}</pre>
      </div>
      <!-- Otros campos del card -->
    </div>
  </div>
</div>
