<shared-head [title]="title" />

<div class="m-3">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
  <div *ngFor="let section of colaboradorInfo"
    class="bg-blue-950 rounded-lg my-3 p-3
    overflow-hidden transition duration-300 transform hover:scale-105 hover:shadow-lg"
  >
    <h3 class="text-lg font-bold mb-2">{{ section.title }}</h3>
    <p class="text-gray-300 mb-4" *ngFor="let paragraph of section.content">{{ paragraph }}</p>
  </div>
</div>
</div>


