    <div class="flex justify-center">
      <div class="flex space-x-7">
        <a
          href="https://codepen.io/max-poblete/"
          target="_blank"
          class="hover:text-blue-600 transition duration-300 transform hover:scale-110"
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-549f8.appspot.com/o/portfolio%2Fcodepen.png?alt=media&token=1ff4b7a4-c60a-45b9-a5fd-1015969aa85b"
            alt="img-codepen"
            class="w-10 h-10"
          >
        </a>
        <a
          href="https://github.com/maxpoblete2905"
          target="_blank"
          class="hover:text-blue-500 transition duration-300 transform hover:scale-110"
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-549f8.appspot.com/o/portfolio%2Fgithub.png?alt=media&token=d64c46a0-e694-466c-8adb-24df0abe4f2c"
            alt="img-codepen"
            class="w-10 h-10"
          >
        </a>
        <a
          href="https://www.linkedin.com/in/max-esteban-poblete-pizarro-9979811bb/"
          target="_blank"
          class="hover:text-blue-500 transition duration-300 transform hover:scale-110"
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/portfolio-549f8.appspot.com/o/portfolio%2Flinkedin.png?alt=media&token=e7220f70-edfa-4b1c-855d-5c68c95dd0d0"
            alt="img-codepen"
            class="w-10 h-10"
          >
        </a>
      </div>
    </div>

