<div class="flex justify-center">
  <!-- Tabla de Datos -->
  <div class="w-1/2 mx-4 mt-3">
    <table class="table-auto w-full bg-gray-800 text-white rounded-lg" *ngIf="projects && projects.length > 0">
      <thead>
        <tr>
          <th class="px-4 py-2">Title</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Details</th> <!-- Columna para el botón de detalles -->
          <th class="px-4 py-2">Delet</th> <!-- Columna para el botón de detalles -->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects" class="border-b border-gray-700">
          <td class="px-4 py-2">{{ project.title }}</td>
          <td class="px-4 py-2">{{ project.description }}</td>
          <td class="px-4 py-2">
            <button type="button" (click)="mostrarDetalle(project)" class="text-blue-500 font-bold">Ver Detalles</button>
          </td>
          <td class="px-4 py-2">
            <button type="button" (click)="solicitarEliminar(project.id)" class="text-blue-500 font-bold">X</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Card de Datos Detallados -->
  <div class="w-1/2 mx-4 mt-3">
    <div *ngIf="projectSeleccionado"
    class="max-w-xl mx-auto bg-gray-800 rounded-lg shadow-md overflow-hidden text-white">
      <div class="px-6 py-2">
        <h2 class="text-xl font-bold mb-2">{{ projectSeleccionado.title }}</h2>
        <p class="text-gray-300 mb-4">{{ projectSeleccionado.description }}</p>
        <div class="px-6 py-2">
          <p><span class="font-bold">ID:</span> {{ projectSeleccionado.id }}</p>
          <p><span class="font-bold">Company Name:</span> {{ projectSeleccionado.companyName }}</p>
          <p><span class="font-bold">Position:</span> {{ projectSeleccionado.position }}</p>
          <p><span class="font-bold">Client:</span> {{ projectSeleccionado.client }}</p>
          <p><span class="font-bold">Image URL:</span> {{ projectSeleccionado.imageUrl }}</p>
          <p><span class="font-bold">Technologies:</span></p>
          <ul class="list-disc pl-4">
            <li *ngFor="let technology of projectSeleccionado.technologies">{{ technology }}</li>
          </ul>
          <p><span class="font-bold">Views:</span></p>
          <ul class="list-disc pl-4">
            <li *ngFor="let view of projectSeleccionado.views">{{ view.src }} - {{ view.description }}</li>
          </ul>
        </div>
      </div>

      <div class="px-6 py-4 bg-gray-700 flex justify-end">
        <div class="mr-2">
          <button type="button" (click)="solicitarEliminar(projectSeleccionado.id)" class="text-red-500 font-bold">Eliminar</button>
        </div>
        <div>
          <button type="button" (click)="cerrarDetalle()" class="text-blue-500 font-bold">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
</div>
