<shared-head [title]="title" />



<!-- Estilo 1 -->
<div class="m-3" *ngIf="darkMode">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let project of projects"
      class="bg-gray-800 border border-gray-700 rounded-lg shadow-lg overflow-hidden transition-all duration-300 hover:scale-105 hover:shadow-2xl">
      <div class="overflow-hidden w-full h-52 border-gray-700 border-2">
        <img class="w-full h-full object-cover object-center" [src]="project.imageUrl" [alt]="project.title">
      </div>
      <div class="p-3">
        <h3 class="text-lg font-semibold text-white mb-1">{{ project.title.toUpperCase() }}</h3>
        <p class="text-gray-400 mb-2">{{ project.companyName.toUpperCase() }}</p>
        <a [routerLink]="['/portfolio/project/', project.id ]" class="text-blue-400 font-semibold hover:text-blue-600">
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Estilo 2 -->
<div class="m-3" *ngIf="!darkMode">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div *ngFor="let project of projects"
      class="bg-blue-950 rounded-lg shadow-md overflow-hidden transition duration-300 transform hover:scale-105">
      <div class="overflow-hidden rounded-lg w-full h-52 border-blue-950 border-2">
        <img class="w-full h-full object-cover object-center" [src]="project.imageUrl" [alt]="project.title">
      </div>
      <div class="p-3">
        <h3 class="text-lg font-semibold mb-1">{{ project.title.toUpperCase() }}</h3>
        <p class="text-gray-400 mb-2">{{ project.companyName.toUpperCase() }}</p>
        <a [routerLink]="['/portfolio/project/', project.id ]" class="text-blue-300 font-semibold hover:text-blue-700">
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>