<shared-head [title]="title" />
<div class="m-3">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div
      *ngFor="let project of projects"
      class="background-class rounded-lg shadow-md overflow-hidden transition-class"
    >
      <img
        class="w-full h-32 object-cover object-center"
        [src]="project.imageUrl"
        [alt]="project.title"
      >
      <div class="p-3">
        <h3 class="text-lg font-semibold mb-1">{{ project.title.toUpperCase() }}</h3>
        <p class="text-gray-400">{{ project.description }}</p>
        <a
          [routerLink]="['/portfolio/project/', project.id ]"
          class="text-blue-300 font-semibold hover:text-blue-700">
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>

