<shared-head [title]="title" />
<div class="m-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let skill of skills"
      class="bg-blue-950 rounded-2xl shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-xl">
      <div class="p-6 flex items-start gap-4">
        <!-- Ícono de habilidad -->
        <div class="flex-shrink-0 w-12 h-12">
          <img src="{{skill.icon}}" alt="Tecnología" class="w-full h-full object-contain" />
        </div>

        <!-- Detalles de la habilidad -->
        <div class="flex-1">
          <h3 class="text-lg font-bold text-white mb-2">{{ skill.title.toUpperCase() }}</h3>
          <p class="text-sm text-gray-400 mb-4">{{ skill.description }}</p>

          <!-- Tecnologías relacionadas -->
          <div class="flex flex-wrap gap-2">
            <span *ngFor="let tech of skill.technologies"
              class="flex items-center gap-2 font-medium text-sm text-blue-600 bg-blue-100 rounded-full px-3 py-1">
              <img src="{{ getIconForName(tech) }}" alt="Tecnología" class="w-5 h-5" />
              {{ tech }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>