<div class="mx-3">
  <!-- Menú para pantallas grandes -->
  <ul class="hidden sm:flex flex-col">
    <li *ngFor="let section of sections" [routerLink]="section.route" routerLinkActive="text-blue-400"
      class="flex items-center cursor-pointer border-b-2 ml-4 mt-4">
      <!-- Agrega un icono aquí usando la etiqueta <img> -->
      <img [src]="section.icon" alt="{{ section.name }} icon" class="mr-2 w-6 h-6">
      <p class="text-lg"> {{ section.name }} </p>
    </li>
  </ul>

  <!-- Menú para pantallas pequeñas (móvil) -->
  <ul class="sm:hidden flex justify-center gap-5">
    <li *ngFor="let section of sections" [routerLink]="section.route" routerLinkActive="text-blue-400"
      class="cursor-pointer ml-4 mt-4 flex">
      <!-- Agrega un icono aquí usando la etiqueta <img> -->
      <img [src]="section.icon" alt="{{ section.name }} icon" class="mr-1 w-6 h-6">
    </li>
  </ul>
</div>