<shared-head [title]="title" />

<div class="m-3">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <!-- Card de información de contacto -->
    <shared-persona-information></shared-persona-information>
    <!-- Card del formulario de contacto -->
    <div class="bg-blue-950 shadow-lg rounded-lg p-6">
      <h2 class="text-xl font-semibold mb-4">Formulario de Contacto</h2>
      <h2 *ngIf="stateMessage" class="text-green-400 text-lg mb-1">{{ message }}</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSave()">
        <div class="mb-4">
          <label for="name" class="block text-slate-300 font-bold mb-2"
            >Nombre</label
          >
          <input
            formControlName="name"
            type="text"
            id="name"
            class="text-black form-input w-full rounded pl-3 focus:outline-none hover:outline-none"
            placeholder="Nombre"
            required
          />
          <span *ngIf="isValidfield('name')" class="form-text text-danger">
            {{ getFieldError('name') }}
          </span>
        </div>
        <div class="mb-4">
          <label for="email" class="block text-slate-300 font-bold mb-2"
            >Correo Electrónico</label
          >
          <input
            formControlName="email"
            type="email"
            id="email"
            class="text-black form-input w-full rounded pl-3 focus:outline-none hover:outline-none"
            placeholder="correo@example.com"
            required
          />
          <span *ngIf="isValidfield('email')" class="form-text text-danger">
            {{ getFieldError('email') }}
          </span>
        </div>
        <div class="mb-4">
          <label for="message" class="block text-slate-300 font-bold mb-2"
            >Mensaje</label
          >
          <textarea
            formControlName="message"
            id="message"
            rows="4"
            class="text-black form-input w-full rounded pl-3 focus:outline-none hover:outline-none"
            placeholder="Escribe tu mensaje aquí"
            required
          ></textarea>
          <span *ngIf="isValidfield('message')" class="form-text text-danger">
            {{ getFieldError('message') }}
          </span>
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Enviar Mensaje
        </button>
      </form>
    </div>
  </div>
</div>
