<!-- app.component.html -->
<nav class="p-4 bg-slate-300 text-blue-950">
  <div class="container mx-auto flex items-center justify-between">
    <div class="">
      Hola, max
    </div>
    <ul class="flex items-center">
      <li>
        <a href="/dashboard" class="hover:text-blue-300 mx-4">Dashboard</a>
      </li>
      <li>
        <button
          (click)="logout()"
          class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
        >
          Cerrar sesión
        </button>
      </li>
    </ul>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
