@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #142952;
  color: white;
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 15px
}

